  </body>
  <!-- Footer -->
<footer class="page-footer font-small mdb-color lighten-3 pt-4 custom-footer">

  <!-- Footer Links -->
  <div class="container text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-4 col-lg-3 mr-auto my-md-4 my-0 mt-4 mb-1">

        <!-- Content -->
        <h5 class="font-weight-bold text-uppercase mb-4">Footer Content</h5>
        <p>Here you can use rows and columns to organize your footer content.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit amet numquam iure provident voluptate
          esse
          quasi, veritatis totam voluptas nostrum.</p>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-2 col-lg-2 mx-auto my-md-4 my-0 mt-4 mb-1">

        <!-- Links -->
        <h5 class="font-weight-bold text-uppercase mb-4">About</h5>

        <ul class="list-unstyled">
          <li>
            <p>
              <a class="a" href="#!">PROJECTS</a>
            </p>
          </li>
          <li>
            <p>
              <a class="a" href="#!">ABOUT US</a>
            </p>
          </li>
          <li>
            <p>
              <a class="a" href="#!">BLOG</a>
            </p>
          </li>
          <li>
            <p>
              <a class="a" href="#!">AWARDS</a>
            </p>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-4 col-lg-3 mx-auto my-md-4 my-0 mt-4 mb-1">

        <!-- Contact details -->
        <h5 class="font-weight-bold text-uppercase mb-4">Address</h5>

        <ul class="list-unstyled">
          <li>
            <p>
              <i class="fas fa-home mr-3"></i> GLA University, Mathura</p>
          </li>
          <li>
            <p>
              <i class="fas fa-envelope mr-3"></i> prakhargoyal665@gmail.com</p>
          </li>
          <li>
            <p>
              <i class="fas fa-phone mr-3"></i> 9928971471</p>
          </li>
          <li>
            <p>
              <i class="fas fa-print mr-3"></i>8824708424</p>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-2 col-lg-2 text-center mx-auto my-4">

        <!-- Social buttons -->
        <h5 class="font-weight-bold text-uppercase mb-4">Follow Us</h5>

        <div class="col-md-2 follow">
          <a type="button">
            <i class=" btn-floating fab fa-facebook-f fa-2x"></i>
            <!-- btn-floating btn-fb -->
            <!-- fab fa-facebook-f fa-2x -->
          </a>
          <br><br>
          <!-- Twitter -->
          <a type="button">
            <i class="btn-floating fab fa-instagram fa-2x"></i>
              <!-- btn-floating btn-tw -->
          </a>
          <br><br>
          <!-- Google +-->
          <!-- <a type="button" class="btn-floating btn-gplus">
            </i>
          </a> -->
          <!-- Dribbble -->
          <a type="button" class="btn-floating">
            <i class="fab fa-linkedin-in fa-2x"></i>
          </a>

        </div>
        <!-- Facebook -->

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2024 Copyright:
    <a href=#> FARMERS-FRIEND.com</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->

</html>
