<%- include("partials/header") -%>

<div class="aboutUs">
  <div class="container">
    <div class="row aboutUs">
      <div class="col-lg-6 custom-about-para">
        <h1 class="about-para-heading">About Us</h1>
        <p class="about-para">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis eius provident aliquid est blanditiis ipsam veritatis quas suscipit adipisci ad non beatae aperiam cum, ratione vero optio error laborum nam inventore natus!</p>
        <p class="about-para">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quod fugiat deserunt at praesentium soluta optio numquam maiores! Dolores nostrum libero quidem est praesentium a eius officia consequatur! Repellat ipsa voluptatum molestias labore aut et consequuntur possimus vero excepturi maiores iste eos hic ut, porro quas praesentium quisquam nihil blanditiis iure non provident adipisci pariatur. Praesentium quis adipisci obcaecati doloribus possimus.</p> 
        <p class="about-para">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolor illo sed nulla impedit. Quaerat perferendis odio quos asperiores, omnis nesciunt?</p>
      </div>
      <div class="col-lg-6 custom-image-about">
        <img class="image-about" src="http://patch.com/img/cdn20/shutterstock/22878689/20190624/105417/styles/patch_image/public/shutterstock-206348365___24105250295.jpg" alt="Image">
      </div>
    </div>
  </div>
</div>

<%- include("partials/footer") -%>
