<%- include("partials/header") -%>

<div class="contactUs">
  <h1>Mail your query to us.</h1>
  <form class="contact" action="mailto:farmers-friend@gmail.com" method="post">
    <h3>Your Name:</h3>
    <textarea name="Senders name:  " rows="2" cols="150"></textarea><br>
    <h3>Your Quary:</h3>
    <textarea name="Senders query:  " rows="5" cols="150"></textarea><br>
    <h3>Your contact number:</h3>
    <textarea name="Sender number: " rows="2" cols="150"></textarea><br>
    <button class="btn" type="submit" name="button">SUBMIT</button>
  </form>
</div>

<%- include("partials/footer") -%>
