<%- include("partials/header") -%>
  <div class="log-in">
      <h1 class="signup-form-text-a">A decision for nature.</h1>
      <p class="signup-form-para signup-form-text-a" >Its Simple and Safe</p>
      <form class="login-form" action="/log-in" method="post">
        <div class="">
          <label class="login-form-lable signup-form-text" for="username" >Username: </label>
          <input type="text" name="username"  placeholder="Email or phoneNumber" required><br><br>
          <label class="login-form-lable signup-form-text" for="password">Password: </label>
          <input type="password" name="password" required><br><br>
          <button class="landing-link2" type="submit" name="button">Welcome to future</button>
        </div>
      </form>
  </div>
<%- include("partials/footer") -%>
